name: Build/Test Using CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Coverage

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -T Test -T Coverage -C ${{env.BUILD_TYPE}} --output-junit junit.xml

    - name: Check Test Coverage
      uses: threeal/gcovr-action@v1.2.0
      with:
        fail-under-line: 78
        txt-out: coverage.txt

    - name: Generate list using Markdown
      run: |
        cat coverage.txt | awk '{print "- " $1}' > coverage.md
        cat coverage.md >> $GITHUB_STEP_SUMMARY
